# requirements.txt

# Core do Streamlit e UI
streamlit>=1.28.0
streamlit-option-menu
streamlit-lottie
streamlit-js-eval 

# Backend e Banco de Dados
supabase-py

# Manipulação de Dados e Datas
pandas>=2.0.0
numpy>=1.24.0
python-dateutil

# Geração de QR Code
qrcode[pil]
Pillow

# Geração de PDF (alternativa leve)
reportlab

# Outras Utilitários
requests 
PyYAML
jinja2>=3.1.2

# Autenticação
msal
authlib

# IA do Google
google-generativeai
